
.header {
    background-color: rgb(220 252 231);
   
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerlogo {
    text-align: center;
  }
  img{
    height: 100px;
  }